## Observations and Insights

In [29]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
study_combined = mouse_metadata.merge(study_results, on='Mouse ID', how='outer')

# Display the data table for preview
study_combined.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [3]:
# Checking the number of mice.
study_combined = study_combined.set_index('Mouse ID')

study_group = study_combined.groupby(['Mouse ID'])['Timepoint'].count()
len(study_group)

249

In [25]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# only mouse
dup = study_group.duplicated(keep = 'first')
dup.()

Mouse ID
a203    False
a251     True
a262     True
a275     True
a366    False
Name: Timepoint, dtype: bool

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
# .loc
# mouseID==duplicate mouse ID

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
study_cleaned = dup.drop_duplicates(subset='Mouse ID', keep=False)

In [6]:
# Checking the number of mice in the clean DataFrame.
c_study_group = study_cleaned.groupby(['Mouse ID'])['Timepoint'].count()
len(c_study_group)

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

# see Day 3, standard error activity

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 
quartiles = df['col'].quantile([.25,.5,.75])
lowerq = quartiles[0.25]
upperq = quartiles[0.75]
iqr = upperq-lowerq

print(f"The lower quartile of occupancy is: {lowerq}")
print(f"The upper quartile of occupancy is: {upperq}")
print(f"The interquartile range of occupancy is: {iqr}")
print(f"The the median of occupancy is: {quartiles[0.5]} ")

lower_bound = lowerq - (1.5*iqr)
upper_bound = upperq + (1.5*iqr)
print(f"Values below {lower_bound} could be outliers.")
print(f"Values above {upper_bound} could be outliers.")

outlier_occupancy = df.loc[(california_data['col'] < lower_bound) | (df['col'] > upper_bound)]
outlier_occupancy
    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

var = df.iloc[:,col]
var2 = df.iloc[:,col]
correlation = st.pearsonr(var,var2)
plt.scatter(var,var2)
plt.xlabel('Var')
plt.ylabel('Var2')
print(f"The correlation between both factors is {round(correlation[0],2)}")
plt.show()

In [35]:
tumor = study_combined.groupby(['Tumor Volume (mm3)']).mean()
tumor
# x_values = tumor['Weight (g)']
# y_values = tumor['Tumor Volume (mm3)']
# t_slope, t_intercept, t_rvalue, t_pvalue, t_stderr = linregress(x_values, y_values)
# regress_values = x_values * slope + intercept
# line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
# plt.scatter(x_values,y_values)
# plt.plot(x_values,regress_values,"r-")
# plt.annotate(line_eq,(0,50),fontsize=15,color="red")
# plt.xlabel('Weight (g)')
# plt.ylabel('Tumor Volume (mm3)')

# print(f"The r-squared is: {rvalue**2}")
# plt.show()

                    Age_months  Weight (g)  Timepoint  Metastatic Sites
Tumor Volume (mm3)
22.050126                 21.0        16.0       45.0               1.0
23.343598                  3.0        17.0       45.0               1.0
24.365505                 21.0        16.0       40.0               1.0
25.472143                  3.0        17.0       40.0               1.0
26.546993                 21.0        16.0       35.0               1.0
...                        ...         ...        ...               ...
75.113288                  2.0        25.0       45.0               2.0
75.123690                 22.0        28.0       45.0               1.0
75.294936                  8.0        28.0       45.0               4.0
76.668817                  8.0        26.0       45.0               3.0
78.567014                 24.0        30.0       45.0               4.0

[1644 rows x 4 columns]